@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    
    <h1>Employee Portal</h1>
    <p class="lead">Employee Portal is designed using .NET Framework </p>
    <p class="lead">All the four basic functionality that is CRUD  has been achieved in this project</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

