<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name ="EmpPortal" connectionString="Server=RANVEER\SQLEXPRESS;Database=Employee Portal;Trusted_connection=True;"/>
		
	</connectionStrings>
</configuration>